body {
	font-family: sans-serif;
}

#nav {
	width: 100%;
	height: 70px;
	background-color: #C70039;
	color: white;
}

.menu {
	float: right;
	width: 80px;
	height: 30px;
	border: 1px solid white;
	text-align: center;
	margin: 15px;
	padding-top: 10px;
}

.menu:hover {
	transition: background-color 0.5s ease-in-out;
	background-color: #a80935;
}

#title {
	font-weight: 100;	
}

/* Two-column website */
#col1 {
	width: 48%;
	float: left;
}

#col2 {
	width: 48%;
	float: right;
}

/* Content box */
.box {
	border: 1px solid black;
	padding: 20px;
}

/* Achieves margins on both sides of content  */
#wrapper {
	width: 80%;
	margin-left: 10%;
}

/* Hamburger menu that shows up for mobile version */
#hamburger {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.line {
	width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

/* Styles for mobile */
@media screen and (max-width: 600px) {
    #col1, #col2 {
        float: left;
        width: 100%;
    }
    #hamburger {
    	display: block;
    }
    .menu {
    	display: none;
    }
}




